*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* cores */
.teste{
background-color: #332D31;
background-color: #614658;
background-color: #944D7C;
background-color: #C7409A;
background-color: #F6F4FE;
background-color: #4A3D4C;
}
/* Estilo geral */
body{
    background-color: #332D31;
    height: 100vh;
    font-family: 'Poppins', 'Montserrat', sans-serif;
    color: #fbf9f9;

    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

h1,
h2,
h3,
h4{
    color: #BA68C8;
    text-align: center;
}

h1{
    text-transform: uppercase;
    color: yellow;
    word-spacing: .2em;
    letter-spacing: .1em;
    font-weight: 700;
    /* padding: 1em; */
    /* margin-bottom: 1em; */
    
}

h1 span{
    color: #BA68C8;
    text-decoration: underline;
}

.hero, .sobre, footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.hero a{
    margin-top: 2em;

}


/* Cabeçalho */
.interface{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    border-bottom: 2px solid #555;;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header nav ul li{
    list-style-type: none;
    padding: 1.5em;
}

header a, 
.hero a {
    color: #fbf9f9;
    text-decoration: none;
}

header a:hover{
    color: #CA2EE6;
    border-bottom: 2px solid #555;
}
.container{
    padding: 1em;
    /* border: solid 1px pink; */
}

.texto-hero{
    margin-bottom: 1em;
}

.btnContatos a{
    background-color: #fbf9f9;
    color: #BA68C8;
    padding: .5em 1em;
    border-radius: 6px;
}
.btnContatos a:hover{
    background-color: #BA68C8;
    color: #fbf9f9;
}
/* Conteúdo */

.principal section{
    width: 100vw;
    height: 100vh;
    padding: 3em;
}


.emDesenvolvimento{
    width: 300px;
    height: 300px;
}

.formacao{
    display: flex;
    flex-direction: column;
}

.formacao div{
    width: 90vw;
}

.formContinuada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formContinuada img{
    width: 300px;
    height: 300px;
}

footer{
    width: 100vw;
    height: 10vh;
    padding: 2em;
    border-top: 2px solid #555;
}